<div class="card-booking">
  <div class="card-booking-image">
    <% if booking.vehicle.photo.attached? %>
      <%= cl_image_tag booking.vehicle.photo.key %>
    <% else %>
      <%= image_tag 'default_vehicle.svg', alt: 'Vehicle' %>
    <% end %>
    <span class="text-tag">
      <% if booking.accepted %>
        <i class="fa-solid fa-circle-check big confirmed"></i> confirmed
      <% else %>
        <i class="fa-solid fa-hourglass-start big error"></i> waiting for confirmation
      <% end %>
    </span>
  </div>
  <div class="card-booking-infos">
    <h3><%= booking.vehicle.name %></h3>
    <div class="infos-details">
      <div class="date-price">
        <div>
          <i class="fa-solid fa-calendar-days"></i>
          <span><%= booking.date.strftime("%d/%m/%Y") %></span>
        </div>
        <div>
          <i class="fa-solid fa-euro-sign"></i>
          <span><%= booking.vehicle.price %></span>
        </div>
      </div>
      <div>
        <% if booking.user.avatar.attached? %>
          <%= cl_image_tag booking.user.avatar.key, class: "avatar" %>
        <% else %>
          <%= image_tag "default_user.svg", class: "avatar" %>
        <% end %>
        <span><%= booking.user.first_name %> <%= booking.user.last_name %></span>
      </div>
    </div>
    <div class="infos-buttons">
      <%= link_to raw('<i class="fa-regular fa-circle-xmark"></i>Cancel'), booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"simple-link coffee" %>
      <%= link_to raw('<i class="fa-solid fa-circle-info"></i>Details'), vehicle_path(booking.vehicle), class:"button primary" %>
    </div>    
  </div>
</div>