<div class="card-booking">
  <div class="card-booking-image">
    <% if booking.vehicle.photo.attached? %>
      <%= cl_image_tag booking.vehicle.photo.key %>
    <% else %>
      <%= image_tag 'default_vehicle.svg', alt: 'Vehicle' %>
    <% end %>
  </div>
  <div class="card-booking-infos">
    <div>
      <h3><%= booking.vehicle.name %></h3>
      <p><%= booking.date %></p>
    </div>
    <div class="card-booking-infos-buttons">
      <%= link_to "Edit", edit_vehicle_booking_path(booking.vehicle, booking), class: "button secundary" %>
      <%= link_to raw('<i class="fa-solid fa-trash"></i> Remove'), booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"button secundary" %>
    </div>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
