<div class="card-booking">
  <div class="card-booking-image">
    <% if booking.vehicle.photo.attached? %>
      <%= cl_image_tag booking.vehicle.photo.key %>
    <% else %>
      <%= image_tag 'default_vehicle.svg', alt: 'Vehicle' %>
    <% end %>
    <span class="booking-status">
      <% if booking.accepted %>
        <i class="fa-solid fa-circle-check confirmed"></i> confirmed
      <% else %>
        <i class="fa-solid fa-hourglass-start"></i> waiting for confirmation
      <% end %>
    </span>
  </div>
  <div class="card-booking-infos">
    <div>
      <h3><%= booking.vehicle.name %></h3>
      <div>
        <i class="fa-solid fa-user"></i>
        <span><%= booking.vehicle.user.first_name %> <%= booking.vehicle.user.last_name %></span>
      </div>
      <div>
        <i class="fa-solid fa-calendar-days"></i>
        <span><%= booking.date.strftime("%d/%m/%Y") %></span>
      </div>
      <div>
        <i class="fa-solid fa-euro-sign"></i>
        <span><%= booking.vehicle.price %>€</span>
      </div>
    </div>
    <div class="card-booking-infos-buttons">
      <%= link_to raw('<i class="fa-solid fa-circle-info"></i>Details'), vehicle_path(booking.vehicle), class:"button primary" %>
      <%= link_to raw('<i class="fa-regular fa-circle-xmark"></i>Cancel'), booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"button secundary" %>
    </div>
    
  </div>
</div>
