<section class="dashboard">
  <div class="dashboard__hero">
    <div class="container">
      <h1>My dashboard</h1>
    </div>      
  </div>
  <div class="container">
    <div class="dashboard__content">
      <div class="dashboard__user">        
        <% if current_user.avatar.attached? %>
          <%= cl_image_tag current_user.avatar.key, class: "card-vehicle-user avatar" %>
        <% else %>
          <%= image_tag "default_user.svg", class:"card-vehicle-user avatar" %>
        <% end %>
        <span>
          <%= current_user.first_name %>
          <%= current_user.last_name %>
        </span>
        <%= link_to edit_user_registration_path, class: "simple-link" do %>
          <i class="fa-solid fa-pen-to-square"></i> Edit my account
        <% end %>
      </div>
      <% if @bookings.count == 0 && @vehicles.count == 0 && @lendings.count == 0 %>
        <div class="dashboard__empty">
          <div>Nothing to display here!</div>
          <div>It's time to <%= link_to "add a vehicle", new_vehicle_path %> or <%= link_to "book a vehicle", vehicles_path %>!</div>
        </div>
      <% end %>
      <% if current_user.bookings.count > 0 %>
        <div class="dashboard__borrow dashboard__section">
          <div id="my-bookings">
            <div class="dash-h2">
              <h2>
                <i class="fa-solid fa-calendar-days"></i>
                <span>My bookings</span>
              </h2>
              <div></div>
            </div>
            <ul class="grid">
              <% @bookings.each do |booking| %>
                <li class="grid__item one-half small-one-whole">
                  <%= render "booking_card", booking: booking %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      <div class="dashboard__lend dashboard__section">
        <% if current_user.vehicles.count > 0 %>
          <div id="my-vehicles">
            <div class="dash-h2">
              <h2>
                <i class="fa-solid fa-bicycle"></i>
                <span>My vehicles</span>
              </h2>
              <div></div>
            </div>
            <ul class="grid">
              <% @vehicles.each do |vehicle| %>
                <li class="grid__item one-third small-one-whole">
                  <%= render "vehicles/vehicle_card", vehicle: vehicle %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <% if @lendings.size > 0 %>
          <div id="my-lendings">            
            <% @lendings.each do |lending| %>
              <% if lending.accepted == nil %>
                <div class="dash-h2">
                  <h2>
                    <i class="fa-solid fa-circle-exclamation text-warning"></i>
                    <span>My vehicles bookings</span>
                  </h2>
                  <div></div>
                </div>
                <% break %>
              <% end %>
            <% end %>
            <ul class="grid">
              <% @lendings.each do |lending| %>
                <% if lending.accepted == nil %>
                <li class="grid__item one-half small-one-whole">
                  <%= render "lending_card", lending: lending %>
                </li>
                <% end %>
              <% end %>
            </ul>
          </div>
          <div id="my-lendings">
            <% @lendings.each do |lending| %>
              <% if lending.accepted == true %>
                <div class="dash-h2">
                  <h2>
                    <i class="fa-regular fa-circle-check"></i>
                    <span>My vehicles bookings</span>
                  </h2>
                  <div></div>
                </div>
                <% break %>
              <% end %>
            <% end %>
             <ul class="grid">
              <% @lendings.each do |lending| %>
                <% if lending.accepted == true %>
                <li class="grid__item one-half small-one-whole">
                  <%= render "lending_card", lending: lending %>
                </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>