<div class="container">
<p id="booking-title">My bookings</p>
  <ul class="d-flex flex-wrap">
    <% @bookings.each do |booking| %>
    <li>
    <div class="card-trip">
    <img src="https://images.unsplash.com/photo-1547447134-cd3f5c716030?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80" />
      <div class="card-trip-infos">
        <div>
          <h2><%= link_to booking.name, booking_path(booking) %></h2>
          <p><%= booking.date %></p>
        </div>
        <% if booking.accepted %>
          <h2 class="card-trip-pricing">Réservation acceptée</h2>
        <% end %>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
      </li>
    <% end %>
  </ul>

  <p id="booking-title">My vehicles</p>
  <ul class="d-flex flex-wrap">
    <% @vehicles.each do |booking| %>
    <li>
    <div class="card-trip">
    <img src="https://images.unsplash.com/photo-1547447134-cd3f5c716030?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80" />
      <div class="card-trip-infos">
        <div>
          <h2><%= link_to booking.name, vehicle_path(booking) %></h2>
          <p><%= booking.vehicle_type %></p>
        </div>
          <h2 class="card-trip-pricing"><%= booking.price %>€</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
      </li>
    <% end %>
  </ul>

</div>
