<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.svg" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item add-vehicle">
          <%= link_to new_vehicle_path, class: "nav-link button secundary" do %>
            Add a (slow) vehicle
            <i class="fa-solid fa-bicycle"></i>
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <span class="nav-link">
              Welcome <%= current_user.first_name %>!
              <turbo-frame id="notifications" src="/notifications" data-turbo-permanent="true"></turbo-frame>
            </span>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.avatar.attached? %>
              <%= cl_image_tag current_user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "default_user.svg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My dashboard", dashboard_path, class: "dropdown-item" %>
                <%= link_to "My lendings", dashboard_path(anchor: "my-lendings"), class: "dropdown-item" %>
                <turbo-frame id="notifications" src="/notifications" data-turbo-permanent="true"></turbo-frame>
              <% if current_user.bookings.count > 0 %>
                <%= link_to "My bookings", dashboard_path(anchor: "my-bookings"), class: "dropdown-item" %>
              <% end %>
              <% if current_user.vehicles.count > 0 %>
                <%= link_to "My vehicles", dashboard_path(anchor: "my-vehicles"), class: "dropdown-item" %>
              <% end %>
              <%= link_to "Account details", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
