<div class="card-vehicle">
  <div class="card-vehicle-picture">
    <% if vehicle.photo.attached? %>
      <%= cl_image_tag vehicle.photo.key, height: 350, width: 400, crop: :fill %>
    <% else %>
      <%= image_tag 'default_vehicle.svg', alt: 'Vehicle' %>
    <% end %>
    <span class="text-tag">
      <%= vehicle.vehicle_type %>
      <% if vehicle.vehicle_type.include?("e-") || vehicle.vehicle_type == 'overboard' %>
        <i class="fa-solid fa-bolt-lightning"></i>
      <% end %>
    </span>
  </div>
  <div class="card-vehicle-infos">
    <div>
      <h3><%= link_to vehicle.name, vehicle_path(vehicle) %></h3>
      <span class="card-vehicle-pricing"><%= vehicle.price %>€</span> / day
    </div>
    <% if vehicle.user.avatar.attached? %>
      <%= cl_image_tag vehicle.user.avatar.key, class: "card-vehicle-user avatar" %>
    <% else %>
      <%= image_tag "default_user.svg", class:"card-vehicle-user avatar" %>
    <% end %>    
  </div>
</div>
