<%= render "banner", custom_class: "home" %>
<div class="container">
<p id="vehicle-title">Choose a vehicle</p>
  <ul class="d-flex flex-wrap">
    <% @vehicles.each do |vehicle| %>
    <li>
    <div class="card-trip">
    <%= cl_image_tag vehicle.photo.key, height: 300, width: 400, crop: :fill %>
      <div class="card-trip-infos">
        <div>
          <h2><%= link_to vehicle.name, vehicle_path(vehicle) %></h2>
          <p><%= vehicle.vehicle_type %></p>
        </div>
          <h2 class="card-trip-pricing"><%= vehicle.price %>€</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
      </li>
    <% end %>
  </ul>
</div>
