<h2> Détails d'un véhicule</h2>

<p><%= @vehicle.name %></p>
<p><%= @vehicle.vehicle_type %></p>
<p><%= @vehicle.price %></p>
<p><%= @vehicle.details %></p>

<%= link_to "Retour à la liste des véhicules", vehicles_path %>
