<div class="vehicle">
    <% if @vehicle.photo.key %>
    <%= cl_image_tag @vehicle.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
    <div class="vehicle-description">
      <h2><%= @vehicle.name %></h2>

      <p>Type de véhicule : <%= @vehicle.vehicle_type %></p>
      <p>Prix du véhicule : <%= @vehicle.price %>€</p>
      <p>Description : <%= @vehicle.details %></p>

      <div class="vehicle-links">
        <%= link_to "Retour à la liste des véhicules", vehicles_path %>
        <%# <%= link_to "Réserver ce véhicule", new_vehicle_booking_path %>
      </div>

      <%= render "bookings/form" %>

      <% if current_user == @vehicle.user %>
        <div class="vehicle__edit">
          <%= link_to "Edit my vehicle",edit_vehicle_path(@vehicle) , class:"button primary"%>
          <%= link_to raw('<i class="fa-solid fa-trash"></i> Remove'), vehicle_path(@vehicle), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"button secundary" %>
        </div>
      <% end %>

    </div>
</div>
