<div class="card-vehicule">
  <h2><%= @vehicle.name %></h2>
  <p>Type de véhicule : <%= @vehicle.vehicle_type %></p>
  <p>Prix du véhicule : <%= @vehicle.price %>€</p>
  <p>Description : <%= @vehicle.details %></p>

  <div class="liens">
    <%= link_to "Retour à la liste des véhicules", vehicles_path %>
    <%= link_to "Réserver ce véhicule", vehicles_path %>
  </div>
</div>
